<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand fr-enlarge-link">
                <a href="/" title="Retour à l'accueil du site - Nom de l'entité (ministère, secrétariat d'état, gouvernement)">
                    <p class="fr-logo">
                        {{ config.theme.intitule }}
                    </p>
                </a>
            </div>
            <div class="fr-footer__content">
                <p class="fr-footer__content-desc">{{ config.theme.footer.description }}</p>
                <ul class="fr-footer__content-list">
                    {% for link in config.theme.footer.links %}
                    <li class="fr-footer__content-item">
                        <a class="fr-footer__content-link" target="_blank" href="{{ link.url }}">{{ link.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="https://doctrine-technique-numerique.forge.apps.education.fr/footer/plan-site">Plan du site</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="https://doctrine-technique-numerique.forge.apps.education.fr/footer/accessibilite">Accessibilité</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="https://doctrine-technique-numerique.forge.apps.education.fr/footer/mentions-legales">Mentions légales</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="https://doctrine-technique-numerique.forge.apps.education.fr/footer/donnees-personnelles/">Données personnelles</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="https://doctrine-technique-numerique.forge.apps.education.fr/footer/cookies/">Gestion des cookies</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <button class="fr-footer__bottom-link fr-fi-theme-fill fr-link--icon-left" aria-controls="fr-theme-modal" data-fr-opened="false">Paramètres d'affichage</button>
                </li>
            </ul>
            <div class="fr-footer__bottom-copy">
                <p>Sauf mention contraire, tous les contenus de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a>
                </p>
            </div>
        </div>
    </div>
</footer>
