{% extends "base.html" %}

<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque consectetur consequatur delectus dolorem dolores ducimus, est fugit harum in magnam porro repudiandae totam. Ab dolore earum explicabo officiis quod!</h1>
<p>
{{ page }}
    ici
</p>
